{% extends 'layout.html.twig' %}
{% set active = 'account' %}

{% block content %}
    <div id="main" role="main" class="container">
    <h1>{{ 'Login'|trans }}</h1>
        {% if error %}
            <div class="alert alert-error">
                {{ error }}
            </div>
        {% endif %}

        <form action="{{ path('admin_login_check') }}" method="post" novalidate {{ form_enctype(form) }} class="form-vertical">
            {{ form_widget(form) }}
        </form>
    </div>
{% endblock %}
